google-api-core~=2.8.2
google-cloud-bigquery-storage~=2.16.0
google-cloud-bigquery~=3.3.3
google-cloud-pubsub~=2.13.7
google-cloud-secret-manager~=2.12.4
google-cloud-storage~=2.7.0
google-cloud-dataflow-client~=0.5.5
setuptools

SQLAlchemy~=1.4.27
typer~=0.6.1
db-dtypes~=1.0.4
duckdb-engine~=0.6.4
duckdb~=0.5.1
requests~=2.28.1
sqlalchemy-bigquery~=1.4.4
types-requests~=2.28.11.2
